a {
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
}

a:hover {
    background-color: rgba(30, 58, 138, 0.5);
}

a.active {
    background-color: rgb(30, 58, 138);
    color: white;
    font-weight: 600;
}
